* {
  margin: 0;
  padding: 0;
}
.square {
  --left: 0%;
  --top: 0%;
  --color: aquamarine;
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: var(--color);
  left: var(--left);
  top: var(--top);
}

#circles circle {
  --color: red;
  fill: var(--color);
  stroke: 4px black;
  mix-blend-mode: soft-light;
}
